@import "base/reset";
@import "base/fonts";
@import "utils/mixins";
@import "layout/header";
@import "layout/target";
@import "layout/fashion";
@import "layout/colors";
.main-wrapper {
    background: #ffffff;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

@media all and (min-width: 768px) {
    .container {
        padding: 0 40px;
    }
}

@media all and (min-width: 960px) {
    .container {
        padding: 0 100px;
    }
}

@media all and (min-width: 1440px) {
    .container {
        padding: 0 140px;
    }
}

@media all and (min-width: 1920px) {
    .container {
        padding: 0 255px 0 75px;
    }
}