@import "base/reset";
@import "base/fonts";
@import "utils/mixins";
@import "layout/header";
@import "layout/footer";
.main-wrapper {
    background: #ffffff;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

@media all and (min-width: 768px) {
    .container {
        padding: 0 40px;
    }
}

@media all and (min-width: 960px) {
    .container {
        width: 960px;
    }
}

@media all and (min-width: 1366px) {
    .container {
        width: 1366px;
    }
}

@media all and (min-width: 1440px) {
    .container {
        width: 1440px;
    }
}

@media all and (min-width: 1920px) {
    .container {
        width: 1920px;
    }
}